.loading-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 40%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  .k-loader {
    &-info {
      color: white;
    }
  }
}
